.emailList {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 20px 0px;
  border-radius: 12px;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.emailItem {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 16px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.emailItem:hover {
  background-color: #dbf0ff;
}

.emailLeft {
  display: flex;
  align-items: center;
  gap: 12px;
}

.emailIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 12px;
  border-radius: 12px;
  background-color: #dde5f2;
}

.emailDetails {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: left;
}

.emailDetails p {
  margin: 0;
}

.emailCount {
  display: flex;
  flex-direction: column;
  gap: 8px;
  text-align: right;
}

.emailCountInner {
  display: flex;
  align-items: center;
  gap: 4px;
}

.emailCount p {
  margin: 0;
}

.emailName {
  font-size: 16px;
  font-weight: 600;
  color: #111827;
}

.largeText {
  font-size: 16px;
  font-weight: 600;
  color: #296cd8;
}

.smallText {
  font-size: 12px;
  color: #6b7280;
}
