.container {
  background-color: blue;
  padding: 5px;
}

.emailList {
  display: flex;
  flex-direction: column;
  margin: 20px 0px;
  padding: 20px 0px;
  border-radius: 12px;
  gap: 12px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3);
}

.emailItem {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.emailItem:hover {
  background-color: #dbf0ff;
}
